.hc-branding-panel {
  --tw-border-opacity: 1;
  border-color: rgba(228, 228, 231, var(--tw-border-opacity));
  border-top-width: 1px;
  border-bottom-width: 1px;
  margin-top: 1rem;
  overflow: hidden;
}

@media (min-width: 640px) {
  .hc-branding-panel {
    border-radius: 0.5rem;
    border-width: 1px;
  }
}


