@model HeyCurator_MVC.Models.Record




<div class="row">
    <div class="col-md-4">
        <form asp-action="DevEditRecord">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecordId" />
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group">
                <label asp-for="RecordedCount" class="control-label"></label>
                <input asp-for="RecordedCount" class="form-control" />
                <span asp-validation-for="RecordedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordNote" class="control-label"></label>
                <input asp-for="RecordNote" class="form-control" />
                <span asp-validation-for="RecordNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Record" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


