<h3>List of Template</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="table-info">
            <th scope="col">
                Column Name
            </th>
            <th scope="col">
                Column Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in DatabaseState.Value.DbContainer.Curators)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Employee.FirstName @item.Employee.LastName
                </td>
            </tr>
        }
    </tbody>
</table>


@code {

    [Inject]
    private IState<DatabaseState> DatabaseState { get; set; }
    [Inject]
    private IDispatcher Dispatcher { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new FetchDatabaseAction());
    }
}
