@model HeyCurator_MVC.Models.PurchaserNotification

@{
    ViewData["Title"] = "Edit";
}

<h4>Order Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PurchaserNotificationId" />
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="Item" class="control-label"></label>
                <label>@Model.Item.Name</label>
            </div>

            @* Time stamp on post method refer to original *@
            <div class="form-group">
                <label asp-for="CurrentStock" class="control-label"></label>
                <input asp-for="CurrentStock" class="form-control" />
                <span asp-validation-for="CurrentStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountRequested" class="control-label"></label>
                <input asp-for="AmountRequested" class="form-control" />
                <span asp-validation-for="AmountRequested" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderUrgency" class="control-label"></label>
                <select asp-for="OrderUrgency" class="form-control" asp-items="Html.GetEnumSelectList<OrderUrgency>()"></select>
                <span asp-validation-for="OrderUrgency" class="text-danger"></span>
            </div>
            <div class="form-group">


                <div class="max-w-sm rounded overflow-hidden shadow-lg">

                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">Curator Request Notes</div>
                        <p class="text-gray-700 text-base">
                            @Model.CuratorNote
                        </p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">@Model.Item.Name</span>
                    </div>
                </div>





      

            </div>
            <div class="form-group">
                <label asp-for="PurchaserNote" class="control-label"></label>
                <input asp-for="PurchaserNote" class="form-control" />
                <span asp-validation-for="PurchaserNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderRefId" class="control-label"></label>
                <input asp-for="OrderRefId" class="form-control" />
                <span asp-validation-for="OrderRefId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFullFilled" /> @Html.DisplayNameFor(model => model.IsFullFilled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
