

<div class="min-w-screen min-h-screen flex items-center justify-center">
    <div class="w-full rounded-lg shadow-xl overflow-hidden relative px-8 pt-16 pb-32 bg-indigo-600 text-white" style="max-width:800px;">
        <h3 class="text-3xl font-semibold text-indigo-100 leading-tight mb-10 relative z-10">!Attention!</h3>
        <hr />
        <h4 class="text-3xl font-semibold text-indigo-100 leading-tight mb-10 relative z-10">The following question board allows for anonymous posting of questions regarding museum procedure, setup, or other questions. You are welcome to leave your name on a question or comment. If you choose not to, by proceeding you understand that all information is still recorded and can be accessed by an administrator or HR should issues arise. This is a place to feel comfortable asking questions in a constantly changing enviroment. This is however still a work enviroment and as such the same rules of conduct apply.</h4>
            <p class="relative z-10">
                <a asp-action="Board" class="py-3 px-6 rounded shadow hover:shadow-lg text-white text-lg bg-gray-900 hover:bg-black focus:outline-none transition-all duration-300 ease-in-out">Proceed</a>
            </p>
            <div class="absolute bottom-0 -mb-12 left-0 ml-10 w-full z-0">
            </div>
    </div>
</div>