@model EmployeeMailbox


@{
    var username = _httpContext.HttpContext.Session.GetString("username");
}

<section class="content accordian bg-white" id="mail-accordian">
    <div class="xs:block sm:block md:block lg:block xl:flex  h-full">
        <div class="lg:w-10/12 xl:w-1/5   mt-4 py-4 pr-4 ">

            <ul class="bg-gray-300 rounded-lg">
                <li>
                    <a href="#" class="btn-block flex text-left mt-8 shadow py-2 bg-indigo-400 font-medium text-indigo-600 dark:bg-gray-200 rounded-lg -ml-4  pl-4">Compose</a>
                </li>


                <li id="unreadControl">
                    <button class=" btn-block flex text-left mt-8 shadow py-2 bg-indigo-100 hover:bg-indigo-300 dark:bg-gray-200 rounded-t-lg -ml-4 pl-4" type="button" data-toggle="collapse" data-target="#inbox" aria-expanded="true" aria-controls="inbox">
                        <span class="ml-2 capitalize font-medium text-indigo-500 w-3/4">
                            Unread Mail &emsp;
                        </span>
                        <span class="text-gray-200 rounded-full bg-green-300 px-2 py-1 text-xs font-medium">12</span>
                    </button>
                </li>
                <li id="readControl">
                    <button class=" btn-block flex text-left  shadow py-2 bg-indigo-100 hover:bg-indigo-300 dark:bg-gray-200 	-ml-4 pl-4" type="button" data-toggle="collapse" data-target="#readBox" aria-expanded="true" aria-controls="readBox">
                        <span class="ml-2 capitalize font-medium text-indigo-500  w-3/4">
                            Read Mail &emsp;
                        </span>
                        <span class="text-gray-200 rounded-full bg-green-300 px-2 py-1 text-xs font-medium ">12</span>
                    </button>
                </li>
                <li id="sentControl">
                    <button class=" btn-block flex text-left  shadow py-2 bg-indigo-100 hover:bg-indigo-300 dark:bg-gray-200 rounded-b-lg	-ml-4 pl-4" type="button" data-toggle="collapse" data-target="#sentBox" aria-expanded="true" aria-controls="sentBox">
                        <span class="ml-2 capitalize font-medium text-indigo-500  w-3/4">
                            Sent Mail &emsp;
                        </span>
                        <span class="text-gray-200 rounded-full bg-green-300 px-2 py-1 text-xs font-medium ">12</span>
                    </button>
                </li>
            </ul>


        </div>


        @* Start of mail section *@


        <div class="lg:w-10/12  xl:w-4/5 mt-12 mr-6  ">


            <div class=" px-2 rounded-t-lg bg-green-100">
                <p class="text-2xl">Hey Curator Mail </p>
            </div>


            @* Start the container for the partials.
                Partial Initial is UnRead.
                Partial Two is Read Mail.
                Partial Three is Reading Mail- Reading mail has partial waterfall inside.
                Partial Four is mail composition.- Two versions, No Preset Recipient and One with Preset Recipient.
                Partial Three has Four in it with preset values.
            *@

            @* Unread Mail *@
            <div id="inbox" class="collapse show " data-parent="#mail-accordian">
                <label class="block bg-green-100 mb-0 pl-2 py-2 font-medium">Unread</label>
                <table class="table  border-r-2">
                    <tbody>

                        @foreach (var unread in Model.UnreadMail)
                        {
                            <tr class="  ">
                                @* Non-Functional *@
                                <td>
                                    <i class="gg-inbox"></i>
                                </td>
                                @* Send Name *@
                                <td class="font-medium ">
                                    @unread.Sender.EmployeeUserName
                                </td>
                                @* Mail Title *@
                                <td class="mailbox-subject">
                                    @unread.Title
                                </td>
                                @* DateTime of the Message *@
                                <td class="mailbox-date">
                                    @unread.DateMessageSent
                                </td>
                            </tr>

                        }

                        @for (int i = 0; i < 20 - Model.UnreadMail.Count(); i++)
                        {
                            <tr class="hover:bg-orange-300 flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                                <td>
                                    <i class="gg-shape-rhombus"></i>
                                </td>
                                <td>
                                    -
                                </td>
                                <td>
                                    -
                                </td>
                                <td>
                                    -
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @* END UNREAD MAIL *@

            @* Read Mail *@
            <div id="readBox" class="collapse" data-parent="#mail-accordian">
                <label class="block bg-green-100 mb-0 pl-2 py-2 font-medium">Read</label>
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            @* Non-Functional *@
                            <td>
                                <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            </td>
                            @* Unused Fav/Star System *@
                            @*<td class="mailbox-star"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-star text-yellow"></i></a></td>*@
                            @* Send Name *@
                            <td class="mailbox-name"><a href="read-mail.php">John Read Alexander</a></td>
                            @* Mail Title *@
                            <td class="mailbox-subject">
                                <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                            </td>
                            @* Unused Mail Attachment *@
                            @*<td class="mailbox-attachment"></td>*@
                            @* DateTime of the Message *@
                            <td class="mailbox-date">5 mins ago</td>
                        </tr>
                        <tr>
                            @* Non-Functional *@
                            <td>
                                <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            </td>
                            @* Unused Fav/Star System *@
                            @*<td class="mailbox-star"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-star text-yellow"></i></a></td>*@
                            @* Send Name *@
                            <td class="mailbox-name"><a href="read-mail.php">Alexander Pierce</a></td>
                            @* Mail Title *@
                            <td class="mailbox-subject">
                                <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                            </td>
                            @* Unused Mail Attachment *@
                            @*<td class="mailbox-attachment"></td>*@
                            @* DateTime of the Message *@
                            <td class="mailbox-date">5 mins ago</td>
                        </tr>
                        <tr>
                            @* Non-Functional *@
                            <td>
                                <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            </td>
                            @* Unused Fav/Star System *@
                            @*<td class="mailbox-star"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-star text-yellow"></i></a></td>*@
                            @* Send Name *@
                            <td class="mailbox-name"><a href="read-mail.php">Alexander Pierce</a></td>
                            @* Mail Title *@
                            <td class="mailbox-subject">
                                <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                            </td>
                            @* Unused Mail Attachment *@
                            @*<td class="mailbox-attachment"></td>*@
                            @* DateTime of the Message *@
                            <td class="mailbox-date">5 mins ago</td>
                        </tr>
                        @* Start Cut *@
                    </tbody>
                </table>
            </div>
            @* END READ MAIL *@

            @* Sent Mail *@
            <div id="sentBox" class="collapse" data-parent="#mail-accordian">
                <label class="block bg-green-100 mb-0 pl-2 py-2 font-medium">Sent</label>                    <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            @* Non-Functional *@
                            <td>
                                <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            </td>
                            @* Unused Fav/Star System *@
                            @*<td class="mailbox-star"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-star text-yellow"></i></a></td>*@
                            @* Send Name *@
                            <td class="mailbox-name"><a href="read-mail.php">Bob Sent Hope</a></td>
                            @* Mail Title *@
                            <td class="mailbox-subject">
                                <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                            </td>
                            @* Unused Mail Attachment *@
                            @*<td class="mailbox-attachment"></td>*@
                            @* DateTime of the Message *@
                            <td class="mailbox-date">5 mins ago</td>
                        </tr>
                        <tr>
                            @* Non-Functional *@
                            <td>
                                <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            </td>
                            @* Unused Fav/Star System *@
                            @*<td class="mailbox-star"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-star text-yellow"></i></a></td>*@
                            @* Send Name *@
                            <td class="mailbox-name"><a href="read-mail.php">Alexander Pierce</a></td>
                            @* Mail Title *@
                            <td class="mailbox-subject">
                                <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                            </td>
                            @* Unused Mail Attachment *@
                            @*<td class="mailbox-attachment"></td>*@
                            @* DateTime of the Message *@
                            <td class="mailbox-date">5 mins ago</td>
                        </tr>
                        <tr>
                            @* Non-Functional *@
                            <td>
                                <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                                    <input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                </div>
                            </td>
                            @* Unused Fav/Star System *@
                            @*<td class="mailbox-star"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-star text-yellow"></i></a></td>*@
                            @* Send Name *@
                            <td class="mailbox-name"><a href="read-mail.php">Alexander Pierce</a></td>
                            @* Mail Title *@
                            <td class="mailbox-subject">
                                <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                            </td>
                            @* Unused Mail Attachment *@
                            @*<td class="mailbox-attachment"></td>*@
                            @* DateTime of the Message *@
                            <td class="mailbox-date">5 mins ago</td>
                        </tr>
                        @* Start Cut *@
                    </tbody>
                </table>
            </div>
            @* END Sent MAIL *@


        </div>
    </div>


</section>
