@model HeyCurator_MVC.Models.CuratorRole

@{
    
}



<div class="my-5 mx-10 flex w-1/3 py-4 justify-center bg-white dark:bg-gray-600 shadow-xl rounded-lg cursor-pointer">


    <form asp-action="AddCuratorRole" method="post">
        <label class="block text-gray-900 text-xl text-center font-semibold mb-2">Add Curator Role</label>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NameOfRole" class="block text-gray-600 text-sm font-semibold mb-2"></label>
            <input asp-for="NameOfRole" class="border-b-2 border-gray-400 focus-within:border-teal-500" />
            <span asp-validation-for="NameOfRole" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add Curator Role" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
