@model EmployeeRoleViewModel

@{
    var curatorRoles = _context.CuratorRoles.ToList();
    SelectList CuratorRoles = new SelectList(curatorRoles, "CuratorRoleId", "NameOfRole");
    var employees = _context.Employees.ToList();
    SelectList Employees = new SelectList(employees, "EmployeeId", "EmployeeUserName");
}



<div class="my-5 mx-10 flex w-1/3 py-4 justify-center bg-white dark:bg-gray-600 shadow-xl rounded-lg cursor-pointer">


    <form asp-action="AssignedEmployeeRole" method="post">
        <label class="block text-gray-900 text-xl text-center font-semibold mb-2">Assign Employee to Curator Role</label>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CuratorRoleId" class="block text-gray-600 text-sm font-semibold mb-2"></label>
            <select asp-for="CuratorRoleId" class="border-b-2 border-gray-400 focus-within:border-teal-500" asp-items="@CuratorRoles">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="CuratorRoleId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeId" class="block text-gray-600 text-sm font-semibold mb-2"></label>
            <select asp-for="EmployeeId" class="border-b-2 border-gray-400 focus-within:border-teal-500" asp-items="@Employees">
                <option selected="selected" value="">Please select</option>
            </select>
            <span asp-validation-for="EmployeeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Assign Employee Curator Role" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
