@{
    ViewData["Username"] = _httpContext.HttpContext.Session.GetString("username") ?? "Default";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HeyCurator_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/app.css" />
    <link rel="stylesheet" href="~/css/css-gg-icon-all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

        
 <!-- Begin Site Wide Modal -->
        <div class="modal fade" id="displayModal" tabindex="-1" aria-labelledby="displayRecodModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="modalContainer">

                        <div class="flex items-center justify-center h-full">

                            <div class="bg-indigo-800 text-white font-bold rounded-lg border shadow-lg p-10">
                                <i class="gg-loadbar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Site Wide Modal -->


        <div class="h-screen w-full  flex overflow-hidden">


            <partial name="_SideBarPartial" />

            <main class="flex-1 flex flex-col @*bg-yellow-100*@ dark:bg-gray-700 transition
		duration-500 ease-in-out overflow-y-auto">
                <div class="mx-10 my-2">
                    @RenderBody()
                </div>
            </main>
        </div>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
