<div class="mt-16 max-w-8xl mx-auto sm:px-6 lg:px-8">


    @* Brand Test Card *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Hey Curator Brand</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Branding Test Card</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">

                            <div class="col-span-1">
                                <button class="hc-btn btn-mm ring-mm">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm ring-mm-in">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm">Button</button>
                            </div>

                            <div class="col-span-1">
                                <button class="hc-btn btn-mm-g ring-mm">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm-g ring-mm-in">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm-g">Button</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Button- Outline *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Buttons</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Outline</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">

                            <div class="col-span-1">
                                <button class="hc-btn ring-mm">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-phrt ">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-v">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-saf ">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-tp">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-pg">Archive</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Button- Outline Inset *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Buttons</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Outline Inset</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">

                            <div class="col-span-1">
                                <button class="hc-btn ring-mm-in">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-phrt-in ">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-v-in">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-saf-in ">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-tp-in">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-pg-in">Archive</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @* Buttons- Solid *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Buttons</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Solids</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">
                            <div class="col-span-1">
                                <button class="hc-btn btn-v">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-phrt">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-saf">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-tp">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-pg">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Buttons- Solids w/ Outline *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Buttons</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Solids w/ Outline</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">
                            <div class="col-span-1">
                                <button class="hc-btn btn-v-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-phrt-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-saf-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-tp-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-pg-outline">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Card- Generic *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4 mb-12">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Card</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Generic Card- Less Detail</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="max-w-lg shadow-md rounded-lg overflow-hidden mx-auto">
                            <div class="py-4 px-4 mt-3">
                                <div class="flex flex-col mb-8">
                                    <div class="bg-magic-mint-300 p-4 rounded-lg">
                                        <h2 class="text-gray-400 font-semibold text-2xl tracking-wide mb-2">In Development</h2>
                                        <p class="text-gray-600 text-base leading-tight">Hey Curator is currently in a test development stage. Features are being added and removed as different versions are being brought together. Please mind out dust.</p>
                                    </div>
                                </div>
                                <div class="bg-gray-100 rounded-lg">
                                    <div class="py-4 px-4">
                                        <div class="flex flex-col">
                                            <h4 class="text-gray-400 text-lg font-semibold mb-3">Upcoming Changes</h4>
                                            <div class="flex flex-col text-sm font-semibold text-gray-400">
                                                <span class="mb-1">Fixed Styling Issues from Transferr.</span>
                                                <span class="mb-1">Convert Item/Item Instance Model to new Organizational patter.</span>
                                                <span class="mb-1">Seperate Adminstrative Creation Concerns.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-4">
                                        <a href="#" class="block tracking-widest uppercase text-center shadow bg-viking-600 hover:bg-viking-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded"> Find out More! </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* divider for show only.*@
                        <div class="m-10">--</div>

                        <div class="max-w-lg shadow-md rounded-lg overflow-hidden mx-auto">
                            <div class="py-4 px-4 mt-3">
                                <div class="flex flex-col">
                                    <div class="bg-magic-mint-300 p-4 rounded-t-lg">
                                        <h2 class="text-gray-400 font-semibold text-2xl tracking-wide mb-2">In Development</h2>
                                        <p class="text-gray-600 text-base leading-tight">Hey Curator is currently in a test development stage. Features are being added and removed as different versions are being brought together. Please mind out dust.</p>
                                    </div>
                                </div>
                                <div class="bg-gray-100 rounded-b-lg border-t-2 border-magic-mint-900">
                                    <div class="py-4 px-4">
                                        <div class="flex flex-col">
                                            <h4 class="text-gray-400 text-lg font-semibold mb-4">Upcoming Changes</h4>
                                            <div class="flex flex-col text-sm font-semibold text-gray-400">
                                                <span class="mb-1">Fixed Styling Issues from Transferr.</span>
                                                <span class="mb-1">Convert Item/Item Instance Model to new Organizational patter.</span>
                                                <span class="mb-1">Seperate Adminstrative Creation Concerns.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-4">
                                        <a href="#" class="block tracking-widest uppercase text-center shadow bg-viking-600 hover:bg-viking-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded"> Find out More! </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Card- Item Type for Employee/Curator *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4 mb-12">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Card - Item Type</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Item Index Employee's Item</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative">
                    <div class="container p-4 mx-auto">
                        <!-- Start Item Index Cards -->
                        <div class="grid grid-cols-6">
                            <!-- Item 1 -->
                            <div class="col-span-2 px-4 mb-4 lg:mb-0">
                                <div class="h-full border rounded shadow bg-white relative">
                                    <div class="flex items-center justify-between py-3 px-4 border-b bg-saffron-100 ">
                                        <h3 class="text-lg font-heading">item.Name</h3>
                                        <span class="py-1 px-3 text-sm text-white font-semibold bg-saffron-300 rounded-full">Item</span>
                                    </div>
                                    <div class="mx-3 my-2 rounded">
                                        <h3 class="text-3xl font-heading font-semibold text-right">500</h3>
                                        <p class="font-semibold">Amount in Reserve</p>
                                        <span class="text-md"> Last Update: item.DateOfLastUpdate</span>
                                    </div>
                                    <div class="w-full bottom-0">
                                        <a class="inline-block w-full py-4 text-center bg-saffron-100 hover:bg-saffron-300" asp-action="Details" asp-route-id="item.ItemId">
                                            Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 1 -->
                            <!-- Item 2 -->
                            <div class="col-span-2 px-4 mb-4 lg:mb-0">
                                <div class="h-full border rounded shadow bg-white relative">
                                    <div class="flex items-center justify-between py-3 px-4 border-b">
                                        <h3 class="text-lg font-heading">Wooden Balls</h3>
                                        <span class="py-1 px-3 text-sm text-white font-semibold bg-saffron-300 rounded-full">Item</span>
                                    </div>
                                    <div class="ml-4 mt-2 rounded">
                                        <h3 class="text-3xl font-heading font-semibold">500</h3>
                                        <p class="font-semibold">Amount in Reserve</p>
                                    </div>
                                    <div class="mt- pl-2 pb-3 bg-gray-00">
                                        <span class="text-md"> Last Update: May 5th, 2020</span>
                                    </div>
                                    <div class="w-full absolute bottom-0">
                                        <button class="w-full py-4 bg-saffron-300">
                                            Details
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 2 -->
                            <!-- Item 3 -->
                            <div class="col-span-2 px-4 mb-4 lg:mb-0">
                                <div class="h-full border rounded shadow bg-white relative">
                                    <div class="flex items-center justify-between py-3 px-4 border-b">
                                        <h3 class="text-lg font-heading">Wooden Balls</h3>
                                        <span class="py-1 px-3 text-sm text-white font-semibold bg-saffron-300 rounded-full">Item</span>
                                    </div>
                                    <div class="ml-4 mt-2 rounded">
                                        <h3 class="text-3xl font-heading font-semibold">500</h3>
                                        <p class="font-semibold">Amount in Reserve</p>
                                    </div>
                                    <div class="mt- pl-2 pb-3 bg-gray-00">
                                        <span class="text-md"> Last Update: May 5th, 2020</span>
                                    </div>
                                    <div class="w-full absolute bottom-0">
                                        <button class="w-full py-4 bg-saffron-300">
                                            Details
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item 3 -->
                        </div>
                        <!-- End Item Cards -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* ADMIN- Create Employee Branding *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">ADMIN</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Create Employee</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">

                        <div class="max-w-full flex bg-totem-pole-100 mx-auto py-10">
                            <div class="mx-auto w-3/4 max-w-6xl self-center bg-white p-5 rounded-lg">
                                <form>
                                    <div  class="text-danger"></div>
                                    <div class="my-4 box border rounded flex flex-col shadow bg-white">
                                        <div class="box__title bg-viking-200 px-3 py-2 border-b">
                                            <h3 class="py-2 text-lg text-gray-800 font-bold">Create Curator Role</h3>
                                        </div>
                                        <div class="text-grey-darkest flex-1 p-2 m-1 text-lg">
                                            <label class="block mb-2 text-base font-bold text-gray-700">Enter Name of Curator Role</label>
                                            <input  class="w-full px-3 py-2 text-md font-semibold leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                                            <span  class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="my-4 box border rounded flex flex-col shadow bg-white">
                                        <div class="box__title bg-viking-200 px-3 py-2 border-b"><h3 class="text-grey-darker font-medium">Storage Location of Count</h3></div>
                                        <select class="border-0 bg-purpleGrey-50 rounded-lg text-md font-bold text-gray-700 flex-1 px-2 py-4 mx-2 my-4 outline-none focus:ring-0">
                                            <option selected="selected" value="">*Optional: Select An Initial Employee</option>
                                            <option value="1">Tim H.</option>
                                            <option value="1">Hosh J.</option>
                                        </select>
                                    </div>


                                    <div class="container flex flex-col">
                                        <input type="submit" value="Create Curator Role" class="hc-btn btn-mm-outline" />
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>






    @* https://play.tailwindcss.com/2Bh9AkQ5nZ *@
    @* https://play.tailwindcss.com/X84Tl6tItp *@
    @* https://play.tailwindcss.com/NxjuXo1S96 *@
    @* https://play.tailwindcss.com/jsGXQsLfaB *@
    @* https://play.tailwindcss.com/SCoe7VGUKk *@
    @* https://play.tailwindcss.com/9GHkFqNyLG *@
    @* https://play.tailwindcss.com/SHP1bnSUAU *@
