<div class="mt-16 max-w-8xl mx-auto sm:px-6 lg:px-8">


    @* Brand Test Card *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Hey Curator Brand</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Branding Test Card</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">

                            <div class="col-span-1">
                                <button class="hc-btn btn-mm ring-mm">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm ring-mm-in">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm">Button</button>
                            </div>

                            <div class="col-span-1">
                                <button class="hc-btn btn-mm-g ring-mm">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm-g ring-mm-in">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm-g">Button</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Button- Outline *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Buttons</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Outline</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">

                            <div class="col-span-1">
                                <button class="hc-btn ring-mm">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-phrt ">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-v">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-saf ">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-tp">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-pg">Archive</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Button- Outline Inset *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Buttons</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Outline Inset</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">

                            <div class="col-span-1">
                                <button class="hc-btn ring-mm-in">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-phrt-in ">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-v-in">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-saf-in ">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-tp-in">Archive</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn ring-pg-in">Archive</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @* Buttons- Solid *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Buttons</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Solids</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">
                            <div class="col-span-1">
                                <button class="hc-btn btn-v">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-phrt">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-saf">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-tp">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-pg">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Buttons- Solids w/ Outline *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Buttons</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Solids w/ Outline</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-4 sm:grid-cols-6 gap-y-4">
                            <div class="col-span-1">
                                <button class="hc-btn btn-v-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-phrt-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-mm-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-saf-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-tp-outline">Button</button>
                            </div>
                            <div class="col-span-1">
                                <button class="hc-btn btn-pg-outline">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Card- Generic *@
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4 mb-12">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Card</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Generic Card- Less Detail</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="max-w-lg shadow-md rounded-lg overflow-hidden mx-auto">
                            <div class="py-4 px-4 mt-3">
                                <div class="flex flex-col mb-8">
                                    <div class="bg-magic-mint-300 p-4 rounded-lg">
                                        <h2 class="text-gray-400 font-semibold text-2xl tracking-wide mb-2">In Development</h2>
                                        <p class="text-gray-600 text-base leading-tight">Hey Curator is currently in a test development stage. Features are being added and removed as different versions are being brought together. Please mind out dust.</p>
                                    </div>
                                </div>
                                <div class="bg-gray-100 rounded-lg">
                                    <div class="py-4 px-4">
                                        <div class="flex flex-col">
                                            <h4 class="text-gray-400 text-lg font-semibold mb-3">Upcoming Changes</h4>
                                            <div class="flex flex-col text-sm font-semibold text-gray-400">
                                                <span class="mb-1">Fixed Styling Issues from Transferr.</span>
                                                <span class="mb-1">Convert Item/Item Instance Model to new Organizational patter.</span>
                                                <span class="mb-1">Seperate Adminstrative Creation Concerns.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-4">
                                        <a href="#" class="block tracking-widest uppercase text-center shadow bg-viking-600 hover:bg-viking-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded"> Find out More! </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* divider for show only.*@
                        <div class="m-10">--</div>

                        <div class="max-w-lg shadow-md rounded-lg overflow-hidden mx-auto">
                            <div class="py-4 px-4 mt-3">
                                <div class="flex flex-col">
                                    <div class="bg-magic-mint-300 p-4 rounded-t-lg">
                                        <h2 class="text-gray-400 font-semibold text-2xl tracking-wide mb-2">In Development</h2>
                                        <p class="text-gray-600 text-base leading-tight">Hey Curator is currently in a test development stage. Features are being added and removed as different versions are being brought together. Please mind out dust.</p>
                                    </div>
                                </div>
                                <div class="bg-gray-100 rounded-b-lg border-t-2 border-magic-mint-900">
                                    <div class="py-4 px-4">
                                        <div class="flex flex-col">
                                            <h4 class="text-gray-400 text-lg font-semibold mb-4">Upcoming Changes</h4>
                                            <div class="flex flex-col text-sm font-semibold text-gray-400">
                                                <span class="mb-1">Fixed Styling Issues from Transferr.</span>
                                                <span class="mb-1">Convert Item/Item Instance Model to new Organizational patter.</span>
                                                <span class="mb-1">Seperate Adminstrative Creation Concerns.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-4">
                                        <a href="#" class="block tracking-widest uppercase text-center shadow bg-viking-600 hover:bg-viking-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded"> Find out More! </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4 mb-12">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Card</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>Generic</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">



                    </div>
                </div>
            </div>
        </div>
    </div>











    @* https://play.tailwindcss.com/jsGXQsLfaB *@
    @* https://play.tailwindcss.com/SCoe7VGUKk *@
    @* https://play.tailwindcss.com/9GHkFqNyLG *@
    @* https://play.tailwindcss.com/SHP1bnSUAU *@
