<div class="mt-16 max-w-8xl mx-auto sm:px-6 lg:px-8">
    <div class="border-b border-t border-gray-200 sm:border sm:rounded-lg overflow-hidden mt-4">
        <div class="px-4 py-2 border-b border-gray-200 flex justify-between items-center bg-white sm:py-4 sm:px-6 sm:items-baseline">
            <div class="flex-shrink min-w-0 flex items-center">
                <h3 class="flex-shrink min-w-0 font-regular text-base md:text-lg leading-snug truncate">Buttons</h3>
            </div>
            <div class="ml-4 flex flex-shrink-0 items-center">
                <h3>TEMP</h3>
            </div>
        </div>
        <div class="relative">
            <div class="block">
                <div class="sm:min-w-preview-mobile relative sm:pr-4">
                    <div class="container p-4">
                        <div class="grid grid-cols-6 sm:grid-cols-2">
                            <div class="col-span-1">
                                <button class="hc-button-light-primary">
                                    Light Primary Highlight
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@* https://play.tailwindcss.com/9GHkFqNyLG *@
@* https://play.tailwindcss.com/SHP1bnSUAU *@