

<div class="mx-10 flex justify-center  my-2">
    <partial name="_ExpiredItemHomeTablePartial" />

</div>
<div class="mx-10 flex justify-center  my-2">
    <partial name="_LowItemCountTablePartial" />

</div>