






    <div class="row">
        <div class="col-10  mx-10 flex justify-center  my-2">
            <partial name="_ExpiredItemHomeTablePartial" />

        </div>
    </div>
    <div class="row">
        <div class=" col-10 mx-10 flex justify-center  my-2">
            <partial name="_LowItemCountTablePartial" />

        </div>
    </div>
