@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<p>Any resemblenace to any real or fictional museums is coincidental and do not represent or have any connection to those entities.</p>
<hr />
<p>This Project uses Css-GG Icons. A wonderful free Icon set under the MIT License.</p>
<p>Css-GG License can be for <a href="https://css.gg/doc/licence" alt="css gg icon license">Here</a></p>
<hr/>
<p>This site uses Font Awesome Icons. To find out more visit</p>
<p>Current using <a href="https://fontawesome.com/license" alt="Font Awesome License">Free Version</a> under Creative Commons</p>
<hr />
<br />
<p>This website is currently in developement. Security and privacy of information is at user risk.</p>
