
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-3xl sm:mx-auto">
        <div class="absolute inset-0 bg-green-200 shadow-lg transform  sm:rotate-90 sm:rounded-3xl"></div>
        <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
            <h3 class="text-3xl font-extrabold text-gray-600 text-center">Want to Create an Employee?</h3>
            <div class="max-w-lg mx-auto">
                <div class="pt-6 text-base leading-6 font-bold sm:text-lg sm:leading-7 text-center text-gray-600">
                    <p>Under Development. Please Log Out and give the employee the Admins Secrets code.</p>
                    <hr class="border-4 my-3" />
                    <p>You can then proceed to "/Identity/Account/Register"</p>
                    <p><em>OR</em></p>
                    <p>Please See your Administrator.</p>
                </div>
            </div>
        </div>
    </div>
</div>


@* https://play.tailwindcss.com/pJg7EJRVEf *@