<div class="mx-10 flex justify-center  my-2">
    <partial name="_AddCuratorRolePartial" />
    <partial name="_AssignEmployeeRolePartial" />
</div>
<div class="mx-10 flex justify-center  my-2">
    <partial name="_AddItemPartial" />
    <partial name="_AddCuratorSpacePartial" />
    <partial name="_AddExhibitSpacePartial" />
</div>
<div class="mx-10 flex justify-center  my-2">
    <partial name="_AddExhibitPartial" />
    <partial name="_AddStoragePartial" />
    <partial name="_AddItemInStoragePartial" />
</div>

<partial name="_ItemTablePartial" />
