<div id="admin-index-fix" class="bg-purple-heart-100 min-h-full">
    <div class="hc-admin-top bg-purple-heart-300"></div>

    <div class="-mt-56">
        <div class="w-full text-center">
            <p class="text-sm tracking-widest text-white">Admin</p>
            <h1 class="text-5xl font-bold text-white">Museum Structure</h1>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">


        @* CreateEmployee *@
        <div class="hc-admin-card-container cursor-default">
            <div class="hc-admin-card hc-admin-card-blue pb-0 ">
                <div class="flex flex-col">
                    <div class="w-full">
                        <svg class="w-16 h-16 mx-auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H15.9595C16.5118 13 16.9595 12.5523 16.9595 12C16.9595 11.4477 16.5118 11 15.9595 11H8Z" fill="currentColor" />
                            <path d="M8.04053 15.0665C7.48824 15.0665 7.04053 15.5142 7.04053 16.0665C7.04053 16.6188 7.48824 17.0665 8.04053 17.0665H16C16.5523 17.0665 17 16.6188 17 16.0665C17 15.5142 16.5523 15.0665 16 15.0665H8.04053Z" fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM7 5H5L5 19H19V5H17V6C17 7.65685 15.6569 9 14 9H10C8.34315 9 7 7.65685 7 6V5ZM9 5V6C9 6.55228 9.44772 7 10 7H14C14.5523 7 15 6.55228 15 6V5H9Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="w-full px-6 py-4">
                        <div class="mb-2 text-5xl font-bold sm:text-2xl">Employee</div>
                    </div>
                </div>
                <div class="pt-5 grid grid-cols-2">
                    <div class="col-span-1">
                        <a asp-controller="Admin" asp-action="CreateEmployee" class="block py-4 text-2xl font-semibold sm:text-lg bg-totem-pole-300 hover:bg-totem-pole-200">Create</a>
                    </div>
                    <div class="col-span-1">
                        <a asp-controller="Admin" asp-action="EmpAssignCurRol" class="block py-4 text-2xl text-gray-500 font-semibold sm:text-lg bg-saffron-400 hover:bg-saffron-200">Connect</a>
                    </div>
                </div>
            </div>
        </div>

        @* CreateCuratorRole *@
        <div class="hc-admin-card-container cursor-default">
            <div class="hc-admin-card hc-admin-card-blue pb-0">
                <div class="flex flex-col">
                    <div class="w-full">
                        <svg class="w-16 h-16 mx-auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H15.9595C16.5118 13 16.9595 12.5523 16.9595 12C16.9595 11.4477 16.5118 11 15.9595 11H8Z" fill="currentColor" />
                            <path d="M8.04053 15.0665C7.48824 15.0665 7.04053 15.5142 7.04053 16.0665C7.04053 16.6188 7.48824 17.0665 8.04053 17.0665H16C16.5523 17.0665 17 16.6188 17 16.0665C17 15.5142 16.5523 15.0665 16 15.0665H8.04053Z" fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM7 5H5L5 19H19V5H17V6C17 7.65685 15.6569 9 14 9H10C8.34315 9 7 7.65685 7 6V5ZM9 5V6C9 6.55228 9.44772 7 10 7H14C14.5523 7 15 6.55228 15 6V5H9Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="w-full px-6 py-4">
                        <div class="mb-2 text-5xl font-bold sm:text-2xl">Curator Role</div>
                    </div>
                </div>
                <div class="pt-5 grid grid-cols-2">
                    <div class="col-span-1">
                        <a asp-controller="Admin" asp-action="CreateCuratorRole" class="block py-4 text-2xl font-semibold sm:text-lg bg-totem-pole-300 hover:bg-totem-pole-200">Create</a>
                    </div>
                    <div class="col-span-1">
                        <a class="block py-4 text-2xl text-gray-500 font-semibold sm:text-lg bg-saffron-400 hover:bg-saffron-200">Connect</a>
                    </div>
                </div>
            </div>
        </div>
        @* Create ExhibitSpace *@
        <div class="hc-admin-card-container cursor-default">
            <div class="hc-admin-card hc-admin-card-blue pb-0">
                <div class="flex flex-col">
                    <div class="w-full">
                        <svg class="w-16 h-16 mx-auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H15.9595C16.5118 13 16.9595 12.5523 16.9595 12C16.9595 11.4477 16.5118 11 15.9595 11H8Z" fill="currentColor" />
                            <path d="M8.04053 15.0665C7.48824 15.0665 7.04053 15.5142 7.04053 16.0665C7.04053 16.6188 7.48824 17.0665 8.04053 17.0665H16C16.5523 17.0665 17 16.6188 17 16.0665C17 15.5142 16.5523 15.0665 16 15.0665H8.04053Z" fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM7 5H5L5 19H19V5H17V6C17 7.65685 15.6569 9 14 9H10C8.34315 9 7 7.65685 7 6V5ZM9 5V6C9 6.55228 9.44772 7 10 7H14C14.5523 7 15 6.55228 15 6V5H9Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="w-full px-6 py-4">
                        <div class="mb-2 text-5xl font-bold sm:text-2xl">Exhibit Space</div>
                    </div>
                </div>
                <div class="pt-5 grid grid-cols-2">
                    <div class="col-span-1">
                        <a asp-controller="Admin" asp-action="CreateExhibitSpace" class="block py-4 text-2xl font-semibold sm:text-lg bg-totem-pole-300 hover:bg-totem-pole-200">Create</a>
                    </div>
                    <div class="col-span-1">
                        <a class="block py-4 text-2xl text-gray-500 font-semibold sm:text-lg bg-saffron-400 hover:bg-saffron-200">Connect</a>
                    </div>
                </div>
            </div>
        </div>
        @* Create Exhibit *@
        <div class="hc-admin-card-container cursor-default">
            <div class="hc-admin-card hc-admin-card-blue pb-0">
                <div class="flex flex-col">
                    <div class="w-full">
                        <svg class="w-16 h-16 mx-auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H15.9595C16.5118 13 16.9595 12.5523 16.9595 12C16.9595 11.4477 16.5118 11 15.9595 11H8Z" fill="currentColor" />
                            <path d="M8.04053 15.0665C7.48824 15.0665 7.04053 15.5142 7.04053 16.0665C7.04053 16.6188 7.48824 17.0665 8.04053 17.0665H16C16.5523 17.0665 17 16.6188 17 16.0665C17 15.5142 16.5523 15.0665 16 15.0665H8.04053Z" fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM7 5H5L5 19H19V5H17V6C17 7.65685 15.6569 9 14 9H10C8.34315 9 7 7.65685 7 6V5ZM9 5V6C9 6.55228 9.44772 7 10 7H14C14.5523 7 15 6.55228 15 6V5H9Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="w-full px-6 py-4">
                        <div class="mb-2 text-5xl font-bold sm:text-2xl">Exhibit</div>
                    </div>
                </div>
                <div class="pt-5 grid grid-cols-2">
                    <div class="col-span-1">
                        <a asp-controller="Admin" asp-action="CreateExhibit" class="block py-4 text-2xl font-semibold sm:text-lg bg-totem-pole-300 hover:bg-totem-pole-200">Create</a>
                    </div>
                    <div class="col-span-1">
                        <a class="block py-4 text-2xl text-gray-500 font-semibold sm:text-lg bg-saffron-400 hover:bg-saffron-200">Connect</a>
                    </div>
                </div>
            </div>
        </div>
        @* Create Item *@
        <div class="hc-admin-card-container cursor-default">
            <div class="hc-admin-card hc-admin-card-blue pb-0">
                <div class="flex flex-col">
                    <div class="w-full">
                        <svg class="w-16 h-16 mx-auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H15.9595C16.5118 13 16.9595 12.5523 16.9595 12C16.9595 11.4477 16.5118 11 15.9595 11H8Z" fill="currentColor" />
                            <path d="M8.04053 15.0665C7.48824 15.0665 7.04053 15.5142 7.04053 16.0665C7.04053 16.6188 7.48824 17.0665 8.04053 17.0665H16C16.5523 17.0665 17 16.6188 17 16.0665C17 15.5142 16.5523 15.0665 16 15.0665H8.04053Z" fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM7 5H5L5 19H19V5H17V6C17 7.65685 15.6569 9 14 9H10C8.34315 9 7 7.65685 7 6V5ZM9 5V6C9 6.55228 9.44772 7 10 7H14C14.5523 7 15 6.55228 15 6V5H9Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="w-full px-6 py-4">
                        <div class="mb-2 text-5xl font-bold sm:text-2xl">Item Type</div>
                    </div>
                </div>
                <div class="pt-5 grid grid-cols-2">
                    <div class="col-span-1">
                        <a asp-controller="Admin" asp-action="CreateItem" class="block py-4 text-2xl font-semibold sm:text-lg bg-totem-pole-300 hover:bg-totem-pole-200">Create</a>
                    </div>
                    <div class="col-span-1">
                        <a class="block py-4 text-2xl text-gray-500 font-semibold sm:text-lg bg-saffron-400 hover:bg-saffron-200">Connect</a>
                    </div>
                </div>
            </div>
        </div>
        @* Create Item Instance *@
        <div class="hc-admin-card-container cursor-default">
            <div class="hc-admin-card hc-admin-card-blue pb-0">
                <div class="flex flex-col">
                    <div class="w-full">
                        <svg class="w-16 h-16 mx-auto" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H15.9595C16.5118 13 16.9595 12.5523 16.9595 12C16.9595 11.4477 16.5118 11 15.9595 11H8Z" fill="currentColor" />
                            <path d="M8.04053 15.0665C7.48824 15.0665 7.04053 15.5142 7.04053 16.0665C7.04053 16.6188 7.48824 17.0665 8.04053 17.0665H16C16.5523 17.0665 17 16.6188 17 16.0665C17 15.5142 16.5523 15.0665 16 15.0665H8.04053Z" fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V5C21 3.89543 20.1046 3 19 3H5ZM7 5H5L5 19H19V5H17V6C17 7.65685 15.6569 9 14 9H10C8.34315 9 7 7.65685 7 6V5ZM9 5V6C9 6.55228 9.44772 7 10 7H14C14.5523 7 15 6.55228 15 6V5H9Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="w-full px-6 py-4">
                        <div class="mb-2 text-5xl font-bold sm:text-2xl">Item Instance</div>
                    </div>
                </div>
                <div class="pt-5 grid grid-cols-2">
                    <div class="col-span-1">
                        <a asp-controller="Admin" asp-action="CreateItemInstance" class="block py-4 text-2xl font-semibold sm:text-lg bg-totem-pole-300 hover:bg-totem-pole-200">Create</a>
                    </div>
                    <div class="col-span-1">
                        <a class="block py-4 text-2xl text-gray-500 font-semibold sm:text-lg bg-saffron-400 hover:bg-saffron-200">Connect</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>